.job-wrapper {
    margin-left: 10%;
    width: 80%;
    height: 750px;
}

.job-wrapper-title {
    font-size: 2rem;
    text-align: left;
}

.job-wrapper-title span {
    color: #55BC7E;
}

.job-wrapper .jobs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

@media only screen and (max-width: 400px) {
    .job-wrapper {
        width: 95%;
        margin-left: 2.5%;
    }

    .job-wrapper .jobs {
        grid-template-columns: 1fr;
    }
}