.category-wrapper {
    margin-left: 10%;
    width: 80%;
    text-align: center;
    height: 700px;
}

.category-wrapper .title {
    font-size: 2rem;
    font-weight: bold;
}

.category-wrapper .title span {
    margin-left: 5px;
    color: #55BC7E;
}

.category-wrapper .subtitle {
    margin-top: 20px;
    font-size: 0.9rem;
    color: grey;
}

.category-wrapper .categories {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 40px;
}