.intro-wrapper {
    margin-top: 130px;
    width: 85%;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-areas: 'message image';
}

/* .intro-wrapper .image {
    height: 300px;
} */

.intro-wrapper .message-intro .top h5 {
    /* padding: 5px; */
    background-color: #ECF;
    padding: 8px;
    border-radius: 20px;
    font-size: 0.8rem;
    width: 370px;
}

.intro-wrapper .message-intro .top .btn {
    font-size: 0.6rem;
    padding: 5px 10px;
    margin-right: 10px;
    margin-left: 0px;
    color: white;
    background-color: #55BC7E;
    border-radius: 20px;
}



.intro-wrapper .message-intro h1 {
    font-size: 4rem;
    font-weight: bolder;
    line-height: 30px;
}

.intro-wrapper .message h4 {
    font-size: 2rem;
    font-weight: 200;
}

.intro-wrapper .message-intro .search-input {
    width: 680px;
    display: grid;
    grid-template-columns: 1fr 1fr 0.3fr;
    height: 70px;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .message-intro .search-input input {
    margin-left: 8px;
    margin-top: 7px;
    height: 53px;
    background-color: grey;
    opacity: 0.2;
    border: none;
    border-radius: 7px;
    width: 330px;
    color: black;
}

.intro-wrapper .message-intro .search-input input::placeholder {
    color: black;
    padding-right: 20px;
}

.intro-wrapper .message-intro .search-input select {
    margin-left: 15px;
    margin-top: 7px;
    height: 53px;
    background-color: grey;
    opacity: 0.2;
    border: none;
    border-radius: 5px;
    width: 220px;
    color: black;
}

.intro-wrapper .message-intro .search-input span {
    background-color: #55BC7E;
    margin-top: 7px;
    margin-left: 20px;
    height: 53px;
    width: 50px;
    /* padding: 9px; */
    border-radius: 5px;
}

.intro-wrapper .message-intro .trust {
    margin-top: 70px;
}

.intro-wrapper .message-intro .trust h1 {
    color: #37383D;
}

.intro-wrapper .message-intro .trust .icons {
    width: 200px;
    height: 40px;
    background-color: white;
    border-radius: 5px;
    border: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.intro-wrapper .image .mail {
    display: block;
    z-index: 2;
    margin-left: -100px;
    height: 80px;
    width: 250px;
    background: white;
    opacity: 0.8;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

.intro-wrapper .image .mail .mail-con {
    margin-left: 5px;
}

.intro-wrapper .image .mail .text {
    padding: 0;
    margin: 0;
}

.intro-wrapper .image .mail .text .text-title {
    margin-top: 10px;
    color: #55BC7E;
}

.intro-wrapper .image .mail .text .text-cont {
    margin-top: 5px;
    font-size: 0.8rem;
    font-weight: 300;
}

.intro-wrapper .image .pdf {
    display: block;
    z-index: 2;
    margin-left: 400px;
    margin-top: 30px;
    height: 50px;
    width: 50px;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .upload {
    display: block;
    z-index: 2;
    margin-left: 430px;
    margin-top: 70px;
    height: 20px;
    width: 65px;
    background: white;
    opacity: 0.8;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .upload h6 {
    font-size: 0.5rem;
    margin-top: 5px;
    margin-left: 15px;
}

.intro-wrapper .image .heart {
    display: block;
    z-index: 2;
    margin-left: 515px;
    margin-top: 430px;
    height: 30px;
    width: 30px;
    background: white;
    opacity: 0.9;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .job-holder {
    display: block;
    z-index: 2;
    margin-left: 330px;
    margin-top: 350px;
    height: 100px;
    width: 200px;
    background: white;
    opacity: 0.9;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .job-holder .job-holder-text {
    margin: 7px 5px;
    font-size: 0.8rem;
    color: grey;
}

.intro-wrapper .image .job-holder .job-holder-images {
    height: 50px;
    width: 180px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-left: 10px;
}

.intro-wrapper .image .job-holder .job-holder-images .item {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
    border-radius: 2px solid white;
}

.intro-wrapper .image .job-holder .job-holder-images .items {
    height: 50px;
    width: 50px;
    background-color: grey;
    border-radius: 50%;
    border: 2px solid white;
    margin-left: -20px;
}

.intro-wrapper .image .job-holder .job-holder-images .items .icon-plus {
    margin-left: 15px;
    margin-top: 15px;
}

.intro-wrapper .image .mini-profile {
    display: block;
    z-index: 2;
    margin-left: -90px;
    margin-top: 430px;
    height: 30px;
    width: 30px;
    background: white;
    opacity: 0.9;
    border-radius: 10px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .mini-profile .mini-profile-image {
    margin: 5px 5px;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: grey;
}

.intro-wrapper .image .mini {
    display: block;
    z-index: 2;
    margin-left: -100px;
    margin-top: 450px;
    height: 100px;
    width: 330px;
    background: white;
    opacity: 0.9;
    border-radius: 15px;
    position: absolute;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1),
    0 3px 10px 0 rgba(0, 0, 0, 0.05);
}

.intro-wrapper .image .thumb {
    z-index: 1;
    position: relative;
}

.intro-wrapper .image .thumb img {
    margin-left: 20px;
    /* z-index: 1; */
}




