.process-wrapper {
    margin-left: 15%;
    width: 70%;
}

.process-wrapper .process-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
    margin-left: 90px;
}

.process-acc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.process-resume {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}

.process-search {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 10px;
}
