.testimonial-card {
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-right: 30px;
    margin-left: 10px;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.testimonial-card:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.testimonial-card .testimonial-card-body {
    padding: 20px;
}

.testimonial-card .testimonial-card-body .top {
    margin-top: 20px;
    margin-left: 110px;
    width: 100px;
    height: 100px;
    background-color: grey;
    border-radius: 50%;
}

.testimonial-card .testimonial-card-body .top .icon-quotes {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: green;
    z-index: 2;
    position: absolute;
    margin-top: 55px;
    margin-left: 60px;
}

.testimonial-card .testimonial-card-body .top .icon-quotes span {
    margin-top: 15px;
    position: absolute;
    margin-left: -8px;
}

.testimonial-card .testimonial-card-body .middle {
    margin-top: 20px;
    font-size: 0.9rem;
    color: grey;
    line-height: 30px;
}

.testimonial-card .testimonial-card-body .bottom {
    margin-top: 20px;
}

.testimonial-card .testimonial-card-body .bottom .name {
    font-size: 1rem;
    font-weight: bold;
}
.testimonial-card .testimonial-card-body .bottom .role {
    margin-top: 10px;
    font-size: 0.8rem;
    color: grey;
}

