.company-wrapper {
    margin-top: 70px;
    height: 600px;
    width: 80%;
    display: grid;
    grid-template-columns: 0.8fr 1fr;
}

.company-wrapper .company-message {
    margin-top: 100px;
    padding: 20px;
    width: 450px;
}

.company-wrapper .company-message .title {
    font-size: 2rem;
    font-weight: bold;
    text-align: left;
}

.company-wrapper .company-message .title span {
    color: #55BC7E;
    margin-right: 10px;
}


.company-wrapper .company-message .content {
    margin-top: 10px;
    font-size: 0.8rem;
    text-align: left;
    color: grey;
    line-height: 30px;
}

.company-wrapper .company-message .button {
    margin-top: 50px;
}

.company-wrapper .company-message .button button {
    height: 50px;
    width: 200px;
    font-size: 0.8rem;
    background-color: #55BC7E;
    color: white;
    border-radius: 5px;
    border: none;
}

.company-wrapper .company-display .circle {
    height: 500px;
    width: 500px;
    border-radius: 50%;
    background-image: linear-gradient(#ECF1FA, #ECF1FA, white);
    margin-top: 50px;
    margin-left: 50px;
}

.company-wrapper .company-display .table {
    height: 400px;
    width: 450px;
    z-index: 2;
    position: absolute;
    margin-left: 160px;
    margin-top: 65px;
    border-radius: 15px;
    background-color: red;
}

.company-wrapper .company-display .company-profile {
    width: 300px;
    height: 80px;
    background-color: yellow;
    margin-left: -20px;
    margin-top: 260px;
    border-radius: 5px;
    z-index: 3;
    position: absolute;
}

.company-wrapper .company-display .security {
    width: 300px;
    height: 80px;
    background-color: orange;
    margin-left: -50px;
    margin-top: 380px;
    border-radius: 5px;
    z-index: 4;
    position: absolute;
}