.chat {
    height: auto;
    width: 350px;
    position: fixed;
    right: 380px;
    bottom: 0px;
    z-index: 5;
    background-color: #EBEBEC;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 15px 4px 0 rgba(0, 0, 0, 0.2),
    0 9px 30px 0 rgba(0, 0, 0, 0.3);
}

.chat .top {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    height: 50px;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: white;
    box-shadow: 0 15px 4px 0 rgba(0, 0, 0, 0.1),
    0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

/* .chat .top:hover {
    background-color: green;
    color: white;
} */

.chat .top .image {
    height: 40px;
    width: 40px;
    /* background-color: grey; */
    border-radius: 50%;
    margin-top: 5px;
    margin-left: 10px;
}

.chat .top .name {
    margin-top: 15px;
    /* color: grey; */
    font-size: 1rem;
    margin-left: -15px;
}

.chat .top .icons {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.chat .chat-box {
    height: 150px;
    width: auto;
    padding: 0px 10px;
}

.chat .chat-box .message-item {
    width: 60%;
    margin-top: 10px;
    font-size: 0.8rem;
    padding: 5px 10px;
    background-color: white;
}

.chat .chat-box .message-item:nth-child(even) {
    margin-left: 34%;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat .chat-box .message-item:nth-child(odd) {
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.chat .message-compose {
    height: 100px;
    width: auto;
    background-color: white;
    font-size: 0.8rem;
    padding: 10px 10px;
    color: grey;
}

.chat .message-compose .top-compose {
    height: 40px;
}

.chat .message-compose .bottom-compose {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr 0.5fr;
}
