.jobdetail-wrapper {
    margin-top: 100px;
    height: auto;
    width: 97%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 30px;
}

.jobdetail-wrapper .side-panel {
    width: 100%;
    height: auto;
    background-color: #FAFAFB;
}

.jobdetail-wrapper .side-panel .top {
    border-radius: 10px;
    height: 300px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.jobdetail-wrapper .side-panel .top .image-thumbnail {
    height: 100px;
    width: 100%;
    background-color: grey;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jobdetail-wrapper .side-panel .top .image-smaller {
    height: 120px;
    width: 120px;
    z-index: 5;
    margin-top: -50px;
    margin-left: 105px;
    background-color: indigo;
    border-radius: 50%;
}

.jobdetail-wrapper .side-panel .top .name {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 5px;
}

.jobdetail-wrapper .side-panel .top .role {
    text-align: center;
    font-size: 1.1rem;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

.jobdetail-wrapper .side-panel .top .views {
    text-align: center;
    font-size: 1rem;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

.jobdetail-wrapper .side-panel .top .connections {
    text-align: center;
    font-size: 1rem;
    color: grey;
    padding-left: 5px;
    padding-right: 5px;
}

.jobdetail-wrapper .side-panel .recent {
    margin-top: 20px;
    border-radius: 10px;
    height: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.jobdetail-wrapper .side-panel .title {
    padding-top: 5px;
    margin-left: 15px;
}

.jobdetail-wrapper .side-panel .groups {
    margin-top: 20px;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.jobdetail-wrapper .side-panel .events {
    margin-top: 20px;
    border-radius: 10px;
    height: 100px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

.jobdetail-wrapper .job-detail {
    width: 100%;
    height: auto;
}

.jobdetail-wrapper .job-detail .bg {
    height: 200px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.jobdetail-wrapper .job-detail .logo {
    height: 100px;
    width: 100px;
    border: 3px solid white;
    border-radius: 10px;
    margin-left: 50px;
    margin-top: -50px;
    background-color: white;
    z-index: 2;
    position: absolute;
}

.jobdetail-wrapper .job-detail .logo .icon-logo {
    margin-left: 5px;
    margin-top: 5px;
}

.jobdetail-wrapper .job-detail .top {
    margin-top: 70px;
}

.jobdetail-wrapper .job-detail .top .name {
    display: grid;
    grid-template-columns: 1fr 0.15fr;
}

.jobdetail-wrapper .job-detail .top .name .title {
    font-size: 1.6rem;
    font-weight: bold;
    height: 40px;
    width: 300px;
}

.jobdetail-wrapper .job-detail .top .name .icons {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jobdetail-wrapper .job-detail .top .name .icons .icon-heart {
    height: 36px;
    width: 36px;
    border-radius: 10px;
    margin-left: -10px;
    border: 2px solid #ECF1FA;
}

.jobdetail-wrapper .job-detail .top .name .icon-share {
    height: 36px;
    width: 36px;
    border-radius: 10px;
    border: 2px solid #ECF1FA;
}

.jobdetail-wrapper .job-detail .top .location {
    margin-top: 15px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.jobdetail-wrapper .job-detail .top .location .subtitle {
    height: 30px;
    width: 310px;
    color: blue;
    font-size: 0.8rem;
}

/* .jobdetail-wrapper .job-detail .top .location .subtitle span {

} */

.jobdetail-wrapper .job-detail .top .location .date {
    height: 30px;
    width: 100%;
    text-align: right;
    font-size: 0.8rem;
}

.jobdetail-wrapper .job-detail .top .location .date span {
    font-weight: bold;
    margin-left: 5px;
}

.jobdetail-wrapper .job-detail .top .table {
    margin-top: 20px;
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 15px;
    border: 2px solid #ECF1FA;
}

.jobdetail-wrapper .job-detail .top .table .item1 {
    border-right: 2px solid #ECF1FA;
    text-align: center;
}

.jobdetail-wrapper .job-detail .top .table .title {
    margin-top: 10px;
    font-size: 0.7rem;
    color: grey;
}

.jobdetail-wrapper .job-detail .top .table .subtitle {
    font-size: 0.9rem;
    font-weight: bold;
    margin-top: 5px;
}

.jobdetail-wrapper .job-detail .top .table .item2 {
    border-right: 2px solid #ECF1FA;
    text-align: center;
}

.jobdetail-wrapper .job-detail .top .table .item3 {
    border-right: 2px solid #ECF1FA;
    text-align: center;
}

.jobdetail-wrapper .job-detail .top .table .item4 {
    text-align: center;
}

.jobdetail-wrapper .job-detail .overview {
    margin-top: 30px;
}

.jobdetail-wrapper .job-detail .overview .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.jobdetail-wrapper .job-detail .overview .content {
    margin-top: 15px;
    height: auto;
    width: 100%;
    font-size: 0.9rem;
    line-height: 30px;
}

.jobdetail-wrapper .job-detail .description {
    margin-top: 30px;
}

.jobdetail-wrapper .job-detail .description .title {
    font-size: 1.2rem;
    font-weight: bold;
}

.jobdetail-wrapper .job-detail .description .content {
    margin-top: 15px;
    height: auto;
    width: 100%;
    margin-bottom: 30px;
    font-size: 0.9rem;
    line-height: 30px;
}

.jobdetail-wrapper .job-detail .btn-apply {
    margin-top: 30px;
    margin-bottom: 50px;
}

.jobdetail-wrapper .similar-jobs .title {
    margin-top: 10px;
    height: 30px;
    width: 200px;
    margin-bottom: 15px;
    color: grey;
    font-size: 1.4rem;
    font-weight: bold;
}

.jobdetail-wrapper .similar-jobs .title span {
    color: #55BC7E;
    margin-left: 10px;
}