.company-detail-wrapper {
    margin-top: 20px;
    height: auto;
    width: 90%;
    display: grid;
    grid-template-columns: 3fr 0.7fr;
    grid-gap: 30px;
}

.company-detail-wrapper .profile .top .bg-image {
    height: 200px;
    overflow: hidden;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.company-detail-wrapper .profile .top .top-bottom-block {
    height: 60px;
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 0.7fr;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block {
    display: grid;
    grid-template-columns: 1fr 4.5fr;
    grid-gap: 10px;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block .image {
    height: 100px;
    width: 100px;
    margin-top: -30px;
    margin-left: 50px;
    border-radius: 10px;
    background-color: #FAFAFB;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block .image .logo {
    margin-left: 12px;
    margin-top: 3px;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block .name .title {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block .name .subtitle {
    text-align: left;
    font-size: 0.7rem;
    color: grey;
}

.company-detail-wrapper .profile .top .top-bottom-block .small-image-block .name .subtitle span {
    margin-right: 10px;
}

.company-detail-wrapper .profile .top .top-bottom-block .social {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    text-align: right;
    margin-top: 20px;
}

.company-detail-wrapper .profile .middle {
    margin-top: 25px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 15px;
}

.company-detail-wrapper .profile .about {
    height: 200px;
    width: 100%;
}

.company-detail-wrapper .profile .about .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    /* color: grey; */
}

.company-detail-wrapper .profile .about .title span {
    color: #55BC7E;
}

.company-detail-wrapper .profile .activity {
    height: 200px;
    width: 100%;
}

.company-detail-wrapper .profile .activity .title {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: left;
    /* color: grey; */
}

.company-detail-wrapper .profile .jobs-block {
    margin-top: 20px;
}

.company-detail-wrapper .profile .jobs-block .title-job-bottom {
    font-size: 1.5rem;
    text-align: left;
    font-weight: bold;
    /* color: grey; */
}

.company-detail-wrapper .profile .jobs-block .title-job-bottom span {
    color: #55BC7E;
}

.company-detail-wrapper .profile .jobs-block .jobs {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
    height: auto;
    width: 100%;
    border-radius: 10px;
}

.company-detail-wrapper .similar-companies .title {
    font-size: 1.4rem;
    font-weight: bold;
    color: grey;
}

.company-detail-wrapper .similar-companies .title span {
    color: #55BC7E;
    margin-left: 5px;
}

.company-detail-wrapper .similar-companies .similar-companies-wrapper {
    margin-top: 15px;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-gap: 15px;
}

.company-detail-wrapper .similar-companies .location-map .title {
    margin-top: 15px;
    font-size: 1.4rem;
    font-weight: bold;
    color: grey;
}

.company-detail-wrapper .similar-companies .location-map .map {
    margin-top: 15px;
    margin-bottom: 10px;
    height: 250px;
    width: 100%;
    background-color: grey;
    border-radius: 10px;
}

/* responsiveness media queries below */
/* @media only screen and (max-width: 400px){
    .company-detail-wrapper {
        width: 95%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
} */
